{% extends 'base.html' %}
{% block content %}



<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>

    <div class="row">
        <div class="col-md-2">
            <div class="card border-dark shadow mb-5" style="max-width: 18rem;">
                <div class="card-header">Clientes Cadastrados</div>
                <div class="card-body text-dark">
                    <h2>5</h2>
                    <a href="">
                        <i class="fa fa-eye"></i> Visualizar clientes
                    </a><br>
                    <a href=""><i class="fa fa-user"></i> Adicionar cliente</a>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <div class="card border-dark shadow mb-5" style="max-width: 18rem;">
                <div class="card-header">Testes realizados</div>
                <div class="card-body text-dark">
                    <h2>5</h2>
                    <a href="">
                        <i class="fa fa-eye"></i> Visualizar testes
                    </a><br>
                    <a href=""><i class="fas fa-weight"></i> Adicionar teste</a>
                </div>
            </div>
        </div>
    </div>


    <div class="card shadow-sm bg-light mb-5">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Meus clientes
        </div>
        <div class="card-body">
            <table id="myClientsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo de cliente</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Email</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo de cliente</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Email</th>
                        <th>Nota</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <th scope="row"><a href="{% url 'client_detail' client.id %}">{{client.name}}</a></td>
                        <td>{{client.business}}</td>
                        <td>{{client.state}}
                        <td>{{client.city}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card shadow-sm bg-light mb-5">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Meus testes
        </div>
        <div class="card-body">
            <table class="table table-striped"  id="myTestsTable">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Cliente</th>
                        <th>Data de início</th>
                        <th>Data de finalização</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                    <tr>
                        <th scope="row"><a href="#">{{test.product_tested}}</a></td>
                        <td>{{test.client}}
                        <td>{{test.start_date}}</td>
                        <td>{{test.end_date}}</td>
                        <td>{{test.final_grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}