{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="card shadow-sm bg-light rounded-lg mt-5">
                <header class="card-header">
                    <h2>{{client.name}}</h2>
                </header>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-12">
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 ">
                                        <label>Nome: </label>
                                        {{client.name}}
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label>Email: </label>
                                        {{client.email}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 ">
                                        <label>Telefone: </label>
                                        {{client.phone_number}}
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label>CPF/CNPJ: </label>
                                        {{client.code}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 ">
                                        <label>Código de cadastro: </label>
                                        {{client.id}}
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label>Tipo de cliente: </label>
                                        {{client.business}}
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-md-6 mb-1">
                                        <label>Estado: </label>
                                        {{client.state}}
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label>Cidade: </label>
                                        {{client.city}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6 mb-1">
                                        <label>N° testes realizados: </label>
                                        {{tests_count}}
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <h4>Nota: </h4>
                                        <h3>{{client.grade}}</h3>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center">
                                            <!--<a class="small" href="password.html">Forgot Password?</a>-->
                                            <button type="submit" class="btn btn-primary btn-block">Cadastrar
                                                cliente</button>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </div> <!-- order-group.// -->
        </div>
    </div>
</div>

{% endblock %}