{% extends 'base.html' %}
{% block content %}



<div class="container-fluid px-4">
    <h1 class="mt-4">{{page_name}}</h1>

    <div class="card shadow-sm bg-light mb-5">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            {{page_name}}
        </div>
        <div class="card-body">
            <table id="myClientsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo de cliente</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Email</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <th scope="row"><a href="{% url 'client_detail' client.id %}">{{client.name}}</a></td>
                        <td>{{client.business}}</td>
                        <td>{{client.state}}
                        <td>{{client.city}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}