{% extends 'base.html' %}
{% block content %}
<script>
    function update_grade(range_id, value_id) {
        document.getElementById(value_id).innerHTML = document.getElementById(range_id).value;
    }
</script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="card shadow-sm border-dark rounded-lg mt-5">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Novo Teste</strong>
                    {% include 'includes/alerts.html' %}
                    {% if client_form.errors %}
                    {% for field in client_form %}
                    {% for error in field.errors %}
                    <p> {{ error }} </p>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                </header>
                <div class="card-body bg-light">
                    <div class="row mb-2">
                        <div class="col-md-12">

                            <form action="{% url 'new_test' %}" method="post">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="form-group col-md-6">
                                        <label>
                                            <h4>CPF/CNPJ do cliente</h4>
                                        </label>
                                        <input class="form-control form-control-lg" type="text" name="client_code" id=""
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>
                                            <h4>Produto testado</h4>
                                        </label>
                                        <input class="form-control form-control-lg" type="text" name="product_tested"
                                            id="" required maxlength="20">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 mb-1">
                                        <label>Data de início</label>
                                        <input class="form-control" type="date" name="start_date" id="" required>
                                    </div>

                                    <div class="form-group col-md-6 mb-1">
                                        <label>Data de finalização</label>
                                        <input class="form-control" type="date" name="end_date" id="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 mb-1">
                                        <label>Técnico resposável</label>
                                        <input class="form-control" type="text" name="technician" maxlength="30" id=""
                                            required>
                                    </div>
                                    <div class="form-group col-md-6 mb-1">
                                        <label>ID do contrato</label>
                                        <input class="form-control" type="text" name="contract_id" maxlength="30" id=""
                                            required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <h3>Avaliação</h3>
                                    <hr>
                                </div>
                                <div class="row mb-3">
                                    <h6>Sua avaliação em relação ao conhecimento técnico do cliente:</h6>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input type="range" class="form-range" min="0" max="5" step="0.5"
                                            name="tk_range" id="tk_range" oninput="update_grade('tk_range', 'tk_grade')"
                                            required>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <h2 id="tk_grade">4.3</h2>
                                        <script>
                                            update_grade('tk_range', 'tk_grade')
                                        </script>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="tk_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3 mt-3">
                                    <h6>Sua avaliação em relação ao tempo de resposta do cliente:</h6>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input name="tr_range" type="range" class="form-range" min="0" max="5"
                                            step="0.5" id="tr_range" oninput="update_grade('tr_range', 'tr_grade')"
                                            required>
                                    </div>

                                    <div class="form-group col-md-1">
                                        <h2 id="tr_grade">4.3</h2>
                                        <script>
                                            update_grade('tr_range', 'tr_grade')
                                        </script>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="tr_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3 mt-3">
                                    <h6>Sua avaliação em relação ao feedback fornecido pelo cliente:</h6>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input name="fb_range" type="range" class="form-range" min="0" max="5"
                                            step="0.5" id="fb_range" oninput="update_grade('fb_range', 'fb_grade')"
                                            required>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <h2 id="fb_grade">4.3</h2>
                                        <script>
                                            update_grade('fb_range', 'fb_grade')
                                        </script>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="fb_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3 mt-3">
                                    <div class="form-group col-md-12">
                                        <label><strong>Comentários Gerais</strong></label>
                                        <textarea name="final_comments" rows="4" placeholder="Sua opinião"
                                            class="form-control" maxlength="1000"></textarea>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Cadastrar
                                                Teste</button>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </div> <!-- order-group.// -->
        </div>
    </div>
</div>

{% endblock %}