{% extends 'base.html' %}
{% block content %}
<script>

    function update_grade(range_id, value_id) {
        document.getElementById(value_id).innerHTML = document.getElementById(range_id).value;
    }
</script>
<div class="container-fluid px-4">
    <div class="row justify-content-center">
        <div class="col-lg-12 mt-5">
            <h2>Editar teste: {{test.product_tested}}</h2>
            <div class="row-fluid">
                <hr>
            </div>
            <div class="card shadow-sm rounded-lg">
                    {% include 'includes/alerts.html' %}
                    {% if client_form.errors %}
                    {% for field in client_form %}
                    {% for error in field.errors %}
                    <p> {{ error }} </p>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                <div class="card-body bg-light">
                    <div class="row mb-2">
                        <div class="col-md-12">

                            <form action="{% url 'edit_test' test.id%}" method="post">
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="form-group col-md-6">
                                        <label>
                                            <h4>CPF/CNPJ do cliente</h4>
                                        </label>
                                        <input class="form-control form-control-lg" type="text" name="client_code" id=""
                                            required value="{{test.client.code}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>
                                            <h4>Produto testado</h4>
                                        </label>
                                        <input class="form-control form-control-lg" type="text" name="product_tested"
                                            id="" required maxlength="20" value="{{test.product_tested}}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-4">
                                        <label>Data de início</label>
                                        <input class="form-control form-control-sm" type="date" name="start_date" id=""
                                            value="{{test.start_date.year}}-{{test.start_date.month|stringformat:'02d'}}-{{test.start_date.day|stringformat:'02d'}}">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Data de finalização</label>
                                        <input class="form-control form-control-sm" type="date" name="end_date" id=""
                                            value="{{test.end_date.year}}-{{test.end_date.month|stringformat:'02d'}}-{{test.end_date.day|stringformat:'02d'}}">
                                    </div>
                                    <div class="form-group col-md-4 mb-1">
                                        <label>Tipo de teste:</label>
                                        {{form.test_type}}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-5 mb-1">
                                        <label>Técnico responsável:</label>
                                        <input class="form-control form-control-sm" type="text" name="technician"
                                            maxlength="30" id="" value="{{test.technician}}">
                                    </div>
                                    <div class="form-group col-md-4 mb-1">
                                        <label>ID do contrato:</label>
                                        <input value="{{test.contract_id}}" class="form-control form-control-sm"
                                            type="text" name="contract_id" maxlength="30" id="">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>
                                            <lable>Quantidade:</lable>
                                        </label>
                                        <input value="quantity" class="form-control form-control-sm" type="number"
                                            name="quantity" id="" maxlength="20">
                                    </div>
                                </div>
                                <div class="row mb-2 mt-3">
                                    <h3>Avaliação</h3>
                                    <hr>
                                </div>
                                {% load l10n %}
                                {% localize off %}
                                <div class="row mb-2">
                                    <h6>Sua avaliação em relação ao conhecimento técnico do cliente:</h6>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input type="range" class="form-range" min="0" max="5" step="0.5"
                                            name="tk_range" id="tk_range" oninput="update_grade('tk_range', 'tk_grade')"
                                            required value="{{test.tk_grade}}">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <h2 id="tk_grade">4.3</h2>
                                        <script>
                                            update_grade('tk_range', 'tk_grade')
                                        </script>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="tk_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 mt-3">
                                    <h6>Sua avaliação em relação ao tempo de resposta do cliente:</h6>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input name="tr_range" type="range" class="form-range" min="0" max="5"
                                            step="0.5" id="tr_range" oninput="update_grade('tr_range', 'tr_grade')"
                                            value="{{test.tr_grade}}" required>
                                    </div>

                                    <div class="form-group col-md-1">
                                        <h2 id="tr_grade">4.3</h2>
                                        <script>
                                            update_grade('tr_range', 'tr_grade')
                                        </script>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="tr_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000">{{test.tr_comments}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 mt-3">
                                    <h6>Sua avaliação em relação ao feedback fornecido pelo cliente:</h6>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input name="fb_range" type="range" class="form-range" min="0" max="5"
                                            step="0.5" id="fb_range" oninput="update_grade('fb_range', 'fb_grade')"
                                            required value="{{test.fb_grade}}">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <h2 id="fb_grade">4.3</h2>
                                        <script>
                                            update_grade('fb_range', 'fb_grade')
                                        </script>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="fb_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 mt-3">
                                    <h6>Sua avaliação em relação ao tempo de instalação:</h6>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group col-md-5">
                                        <label for="customRange3" class="form-label">Nota</label>
                                        <input name="ti_range" type="range" class="form-range" min="0" max="5"
                                            step="0.5" id="ti_range" oninput="update_grade('ti_range', 'ti_grade')"
                                            required value="{{test.ti_grade}}">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <h2 id="ti_grade"></h2>
                                        <script>
                                            update_grade('ti_range', 'ti_grade')
                                        </script>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="form-group col-md-12">
                                            <label>Comentários</label>
                                            <textarea name="ti_comments" rows="4" placeholder="Sua opinião"
                                                class="form-control" maxlength="1000"></textarea>
                                        </div>
                                    </div>
                                </div>
                                {% endlocalize %}

                                <div class="row mb-3 mt-3">
                                    <div class="form-group col-md-12">
                                        <label><strong>Cenário de instalação do produto</strong></label>
                                        <textarea name="scenario" rows="4" placeholder="Descreva o cenário de instalação do produto"
                                            class="form-control" maxlength="1000"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3 mt-3">
                                    <div class="form-group col-md-12">
                                        <label><strong>Comentários Gerais</strong></label>
                                        <textarea name="final_comments" rows="4" placeholder="Sua opinião"
                                            class="form-control" maxlength="1000"></textarea>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-primary btn-block">Salvar
                                                Alterações</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <form action="{% url 'add_test_image' test.id %}" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">

                                        {{ image_form.image.label_tag }}

                                        <div class="input-group">
                                            <p>{{ image_form.image.help_text }}</p>
                                            <p>{{ image_form.image }}</p>
                                            <p>{{ image_form.non_field_errors }}</p>
                                            <p>
                                                {{ image_form.image.errors }}

                                            </p>
                                            <div class="input-group-append ml-3">
                                                <button type="submit" class="btn btn-sm btn-secondary btn-block">Enviar
                                                    imagem</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row justify-content-center bg-light">
                                <div class="col-md-3">
                                    <table class="table table-striped" id="">
                                        <thead>
                                            <tr>
                                                <th>Imagens adicionadas:</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for image in images %}
                                            <tr>
                                                <th scope="row"><a href="{{image.image.url}}">{{image.filename}}</a></th>
                                                <th><a href="{% url 'remove_test_image' test.id image.id%}"><i class="fas fa-trash-alt"></i></a></th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-9 mb-2 mt-2"></div>
                            </div>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </div> <!-- order-group.// -->
        </div>
    </div>
</div>

{% endblock %}