{% extends 'base.html' %}
{% block content %}



<div class="container-fluid px-4">
    <div class="row mt-4">
        <div class="col">
            <h1 class="h2">{{page_name}}</h1>
        </div>
        <div class="col start-end text-end">
            <a href="{% url 'new_test' %}" class="btn btn-primary">
                <i class="far fa-plus-square"></i> Novo Teste
            </a>
        </div>
    </div>
    <hr>
    <div class="card shadow-sm bg-light mb-5">
        <div class="card-header bg-secondary text-light">
            <i class="fas fa-table me-1"></i>
            Testes
            {% include 'includes/alerts.html' %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-sm" id="clientTestsTable">
                <thead>
                    <tr>
                        <th>ID do teste</th>
                        <th>Produto testado</th>
                        <th>Cliente</th>
                        <th>Tipo</th>
                        <th>Segmento</th>
                        <th>Data de criação</th>
                        <th>Data de início</th>
                        <th>Data de finalização</th>
                        <th>Status</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                    <tr>
                        <th scope="row"><a href="{% url 'test_detail' test.id %}" class="link-dark text-decoration-none">Teste {{test.id}}</a></th>
                        <td scope="row">{{test.product_tested}}</td>
                        <td scope="row"><a href="{% url 'client_detail' test.client.id %}" class="text-decoration-none">{{test.client}}</a></td>
                        <td>{{test.test_type}}</td>
                        <td>{{test.user.segment}}</td>
                        <td>{{test.created_at}}</td>
                        <td>{{test.start_date}}</td>
                        <td>{{test.end_date}}</td>
                        <td>{{test.status}}</td>
                        <td>{{test.final_grade}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}